<!DOCTYPE HTML>

<html>
	<head>
		<title>COLLECT INFORMATION</title>
		<link rel="stylesheet" href="\static\customize.css">
		<script src="\static\script.js"></script>
	</head>
	<body>
		<form action = "/info" method="POST">
			<div id="login">
				<table id="tbllogin">
					<tr>
						<td><label id="lblusername">Username</label></td>
						<td><input id="txtusername" name="txtusername"></input></td>
					</tr>
					<tr>
						<td><label id="lblpassword">Password</label></td>
						<td><input id="txtpassword" name="txtpassword"></input></td>
					</tr>
					<tr>
						<td><button id="btnsubmit">Submit</button></td>
					</tr>
				</table>
			</div>
		</form>
	</body>
</html>